<section class="section">
  <h1 class="visually-hidden">Поиск изображений</h1>
  <div class="search-box">
    <form action="#" class="search-form js-search-form">
      <input type="text" 
      class="search-input" 
      name="query" 
      id="searchQuery" 
      autocomplete="off" 
      placeholder="Search images..." 
      />
      <button type="submit" class="search-button">
        <svg width="30" height="30">
          <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
 
</section>
<div class="gallery js-photos-container">
  <!-- Карточки изображений -->
</div>




<div class="js-guard"></div>


