<section>
  <h1 class="visually-hidden">Поиск изображений</h1>
  <div class="search-box">
    <form action="#" class="search-form js-search-form">
      <input type="text" 
      class="search-input" 
      name="query" 
      id="searchQuery" 
      autocomplete="off" 
      placeholder="Search images..." 
      />
      <button type="submit" class="search-button">
        <svg width="30" height="30">
          <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
 
</section>
<div class="gallery js-photos-container">
  <!-- Карточки изображений -->
</div>
<!-- <button
type="button"
class="btn"
data-action="load-more"
>
<span class="label">Load More</span>
</button> -->
<a class="btn-to-top" title="Go to top"> <span class="material-icons">arrow_upward</span></a>


<div class="js-guard"></div>

<!-- <div class="container-loading">
  <div class="pulse-container">
      <div class="pulse-bubble pulse-bubble-1"></div>
      <div class="pulse-bubble pulse-bubble-2"></div>
      <div class="pulse-bubble pulse-bubble-3"></div>
  </div>
</div> -->